{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
<div class='text-center'>
    <h1>{{ title }}</h1>

<div class='text-center'>

<div class='row'>
  <div class='col'>
      <img src="{% static 'img/digitalx.png' %}" class='img-fluid' />
      <p>{{ content }}</p>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class='row' class='text-center' >
  <div class='col'>

  {{ premium_content }}
  </div>
</div>
{% endif %}




{% endblock %}
