<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <h1>Hi, welcome to Django Level Two!</h1>
    <h2>Here are your access records:</h2>
    <div class="djangtwo">
      {% if access_records %}
          <table>
            <thead>
              <th>Site Name</th>
              <th>Date Accessed</th>
            </thead>

            {% for acc in access_records %}
              <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
              </tr>
            {% endfor %}
        </table>

      {% elif business_records %}

       <button type="button" class="btn btn-success" id="success">Show Business Records</button>
          <table class="table table-striped">
            <thead>
              <th>Topic</th>
              <th>Name</th>
              <th>URL</th>
            </thead>

            {% for item in business_records %}
              <tr>
                <td>{{ item.topic }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.url }}</td>
              </tr>
            {% endfor %}

        </table>

      {% else %}
        <p>No Access Records. Table Not Created.</p>
       {% endif %}
    </div>


  </body>
</html>
